/*
 *
 * Custom style to the webapplication
 *
 */

/* ---------- General ---------- */
h3 {
    margin-bottom: 1.5rem;
}

h4 {
    margin-bottom: 1.25rem;
}

nav span.nav-links-alt a {
    color: #d33c43;
}

nav .top-nav-title {
    display: flex;
    align-items: center;
}

/* ---------- Forms ---------- */

/*
label {
    font-size: 1.1rem;
}
*/

form .required label:after {
    content: " *";
}

div#test-result {
    font-style: italic;
}

/* ---------- Pings ---------- */

span.last-ping-date {
    font-size: 0.75rem;
    font-style: italic;
}
